<% if (messages.create) { %>
<div class="position-absolute start-50 alert alert-success text-white text fs-5" role="alert" style="background-color: #73ca5c; padding-left: 150px; padding-right: 150px" id="createAlert"> <%= messages.create %> </div>
<% } %> <% if (messages.update) { %>
<div class="position-absolute start-50 alert alert-success text-white text fs-5" role="alert" style="background-color: #73ca5c; padding-left: 150px; padding-right: 150px" id="updateAlert"> <%= messages.update %> </div>
<% } %> <% if (messages.delete) { %>
<div class="position-absolute start-50 alert alert-success text-white text fs-5" role="alert" style="background-color: #000; padding-left: 150px; padding-right: 150px" id="deleteAlert"> <%= messages.delete %> </div>
<% } %>
